@model LapTimer.Models.Event

@{
    ViewBag.Title = "Details";
    ViewBag.PageClass = "type-interior";
    ViewBag.PageId = "details";
}

@section Resources {
    <script src="@Url.Content("~/Content/Event/Details.js")" type="text/javascript"></script>
}

@section HeaderButtons {
    @Html.RouteLink("Timing", "ByDate", new { slug = Model.Location.Slug, date = Model.Date.ToSlug(), action = "Timing" })
}

@section Secondary {
    <h2 class="ui-bar-b ui-li ui-li-divider">Location</h2>
    <section>
        @Html.DisplayFor(model => model.Location.Name)
        @Html.DisplayFor(model => model.Date)
        
    </section>

        <ul data-role="listview" class="sessions" data-event="@Model.Id">
            <li data-role="list-divider">Sessions</li>
        @foreach (var s in Model.Sessions)
        {
            <li><a href="#">@s.Name</a></li>
        }
        </ul>
}

<div id="sessionDetails"><ul></ul></div>