@model LapTimer.Models.Event

@{
    ViewBag.Title = "Edit";
    ViewBag.PageClass = "type-interior";
    ViewBag.PageId = "edit";
}

@section Resources {
    <script type="text/javascript" src="@Url.Content("~/Content/Event/Edit.js")"></script>
}

@section HeaderButtons {
    <div data-role="controlgroup" data-type="horizontal" class="ui-btn-right">
        @Html.ActionLink("Details", "Details", new { id = Model.ShortId, slug = Model.Location.Slug }, new { data_role="button", data_icon = "info", data_iconpos = "notext" })
        <a href="#" data-role="button" data-icon="plus" data-iconpos="notext" id="newSession">New Session</a>
    </div>
}

@section Secondary {
    <h2 class="ui-bar-b ui-li ui-li-divider">Location</h2>
    <section>
        @Html.DisplayFor(model => model.Location.Name)
        @Model.Date.ToShortDateString()        
    </section>

    
    <ul data-role="listview" class="sessions" data-event="@Model.Id">
        <li data-role="list-divider">Sessions</li>
    @foreach (var s in Model.Sessions) {
        <li><a href="#">@s.Name</a></li>
    }
    </ul>
}

<ul data-role="listview" class="times">
@foreach (var t in Model.Sessions.First().Participants) {
    <li data-number="@t.Number">
        <span class="number">@t.Number</span> -
        <span class="name">@t.Number</span>
        <span class="elapsed" data-lap="@t.Times.Count">@( t.Times.Any() ? t.Times.Last().ToString(@"mm\:ss\.fff") : "00:00.000" )</span>
        <div data-role="controlgroup" data-type="horizontal" data-mini="true" class="sideButtons">
            <button class="split">Split</button>
            <button class="toggle start">Start</button>    
        </div>
    </li>
}
</ul>
