@model LapTimer.Models.ViewModels.EditEventViewModel

@{
    ViewBag.Title = "Edit";
    ViewBag.PageClass = "type-interior";
    ViewBag.PageId = "edit";
}

@section Resources {
    <script type="text/javascript" src="@Url.Content("~/Content/Event/Edit.js")"></script>
}

@section HeaderButtons {
    <div data-role="controlgroup" data-type="horizontal" class="ui-btn-right">
        @Html.ActionLink("Details", "Details", new { id = Model.ShortId, slug = Model.Slug }, new { data_role="button", data_icon = "info", data_iconpos = "notext" })
        <a href="#" data-role="button" data-icon="plus" data-iconpos="notext" data-mini="true" id="newParticipant">New Participant</a>
    </div>
}

@section Secondary {
    <h2 class="ui-bar-b ui-li ui-li-divider">Location</h2>
    <section>
        @Html.DisplayFor(model => model.Name)
        @Model.Date.ToShortDateString()        
    </section>

    
    <ul data-role="listview" class="sessions" data-event="@Model.Id">
        <li data-role="list-divider">Sessions<a href="#" data-role="button" data-icon="plus" data-iconpos="notext" id="newSession">New Session</a></li>
    @foreach (var s in Model.Sessions) {
        <li><a href="#" class="session">@s.Name</a></li>
    }
    </ul>
}

<ul data-role="listview" class="times">
@foreach (var t in Model.FirstSessionTimes) {
    <li data-number="@t.Number">
        <span class="number">@t.DisplayNumber</span> -
        <span class="name">@t.Name</span>
        <span class="elapsed" data-lap="@t.Lap">@( t.LastLap.ToString(@"mm\:ss\.fff"))</span>
        <div data-role="controlgroup" data-type="horizontal" data-mini="true" class="sideButtons">
            <button class="split">Split</button>
            <button class="toggle start">Start</button>    
        </div>
    </li>
}
</ul>

<div id="newParticipantDlg" data-options='{"mode":"blank","blankContent":true,"blankContentAdopt":true,"headerText":"Add Participant","headerClose":true}'>
    <label for="newNumber">Number</label>
    <input id="newNumber" placeholder="Number" value="" type="number">
        
    <label for="newName">Name</label>
    <input id="newName" placeholder="Name" value="" type="text">

    <button rel="close" id="addParticipant">Add</button>
    <button rel="close" data-theme="b">Cancel</button>
</div>
