<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    @RenderSection("Head", false)
</head>
<body>
    <header>
        <h3>@ViewBag.Title</h3>
        @Html.ActionLink("Home", "Index", "Home") 
    </header>
    <section>
        @RenderBody()
    </section>
    <footer>
    </footer>
</body>
</html>
